<%= form_with model: [form.question, form.answer], local: true do |f| %>

  <div class="form-group">
    <%= f.label :opinion, "Answer" %>
    <p class="d-inline">(20 文字以内)</p>
    <%= f.text_area :opinion, placeholder: "今のアンサーを書いてみましょう！", required: true,
      class: "form-control answer_text_area", rows: "10" %>
  </div>

  <div class="form-group">
    <%= f.label :input_tag_name, "Tag" %>
    <p class="d-inline">　※空白 or カンマでタグが区切られます(大文字・小文字どちらもok!)</p>
    <%= f.text_field :input_tag_name, placeholder: "タグをつけると他の人が見つけやすくなります！", required: true,
    class: "form-control answer_text_area" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>

<% end %>
