<ol class="list-group list-group-flush mb-3">
  <h3 class="list-group-item mb-0 Answers">
    <i class="fa-solid fa-a"></i>
    <% if question.answers.empty? %>
      <span class="h6"> 投稿されたAnswerはまだありません。お楽しみに！</span>
    <% end %>
  </h3>

  <% question.answers.each_with_index do |answer, i| %>
    <li class="list-group-item pt-3">

      <!--アンサー番号-->
      <div class="h4">
        <%= i + 1 %>.
      </div>

      <!--アンサー本文-->
      <div class="text-break">
        <%= safe_join(answer.opinion.split("\n"),tag(:br)) %>
      </div>

      <!--アンサーについているタグ-->
      <div class="my-3">
        <% answer.tags.each do |tag| %>
          <%= link_to answers_path(name: tag.name),
            class: "btn btn-sm btn-outline-info rounded-pill" do %>
            <i class="fa-solid fa-tag"></i><%= tag.name %>
          <% end %>
        <% end %>
      </div>

      <div class="d-flex align-items-end">
        <!--アンサーした日時-->
        <span class="mr-3">
          <%= l(answer.updated_at, format: :long) %><br />
          <%= time_ago_in_words(answer.updated_at, format: :distance_in_words)%>前
        </span>

      <% if answer.question.user == current_user %>
        <span class="ml-auto">
          <%= link_to "Edit", edit_question_answer_path(answer.question, answer), class: "btn btn-sm btn-outline-success" %>
          <%= link_to "Destroy", question_answer_path(answer.question, answer), method: :delete, remote: false,
          data: { confirm: "このアンサーを削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
        </span>
      <% end %>
      </div>

      <!--アンサーのいいね数-->
      <div id="answer_<%= answer.id %>" class="my-3">
        <%= render "public/favorites/favorite-btn", answer: answer %>
      </div>

    </li>
  <% end %>

</ol>