<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing question</h1>
      <%#= render "layouts/errors", obj: @question %>
      <%= form_with model: [@question, @answer], method: :patch, local: true do |f| %>

        <div class="form-group">
          <%= f.text_area :opinion, class: "form-control answer_text_area", rows: "10" %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-success" %>
        </div>

      <% end %>

      <%= link_to "Show", @question %> |
      <%= link_to "Back", questions_path %>
    </div>
  </div>
</div>