<h2>Questions</h2>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th></th>
      <th>アンサー</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, question_path(question) %></td>
        <td><%= question.answers.count %></td>

        <% latest_answer = question.answers.last %>

        <% if latest_answer %>
          <td><%= truncate(latest_answer.opinion, length: 50) %></td>
        <% else %>
          <td>まだアンサーがありません</td>
        <% end %>

        <td>
          <%= link_to user_path(question.user.id) do %>
            <%= image_tag question.user.get_profile_image(80, 80),class: "rounded-circle" %><br />
            <%= question.user.name %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>