<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>タイトル</th>
      <th></th>
      <th>アンサー</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, question_path(question) %></td>

        <% if answer %>
        <td><%= question.answer.id.to_s %></td>
        <td><%= question.answer.opinion %></td>
        <td>アンサー数: <%= question.answers.count %></td>
        <% else %>
        <td></td>
        <td>まだアンサーがありません</td>
        <td></td>
        <% end %>

        <td>
          <%= link_to user_path(question.user.id) do %>
            <%#= image_tag question.user.get_profile_image(80, 80) %>
            <%= question.user.name %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>