<ol class="list-group list-group-flush">
  <h3 class="list-group-item">Answer</h3>

  <% question.answers.each_with_index do |answer, i| %>
    <li class="list-group-item mt-3">

      <!--アンサー番号-->
      <div class="h4">
        <%= i + 1 %>.
      </div>

      <!--アンサー本文-->
      <div>
        <%= safe_join(answer.opinion.split("\n"),tag(:br)) %>
      </div>

      <!--アンサーについているタグ-->
      <div class="mt-3">
        <% answer.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </div>

      <!--アンサーした日時-->
      <div class="d-flex align-items-end">
        <span class="mr-3">
          <%= l(answer.updated_at, format: :long) %>
          <%= time_ago_in_words(answer.updated_at, format: :distance_in_words)%>前
        </span>

      <!--アンサーの削除ボタン-->
        <span class="ml-auto">
          <%= link_to "Destroy", admin_question_answer_path(answer.question, answer), method: :delete, remote: false,
          data: { confirm: "この Answer を削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
        </span>
      </div>

      <!--アンサーのいいね数-->
      <span>Favorites : <%= answer.favorites.count %></span>

    </li>
  <% end %>

</ol>