<div class="container px-3 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <div class="d-flex flex-column">

        <h5 class="lead font-weight-bold">管理者</h5>

        <div>
          ・questionの削除<br />
          ・answerの削除<br />
          ・タグの削除<br />
          ・ユーザー情報の編集・削除<br />
          が可能です。
        </div>

      </div>
    </div>

    <div class="col-md-8 offset-md-1">

      <h3 class="row border-bottom pb-3 text-info">
        <i class="fa-solid fa-tag"></i><%= @tag.name %> の検索結果
      </h3>
      <span>(全<%= @answers.total_count %>件)</span>

      <% @answers.each_with_index do |answer, i| %>
        <li class="list-group-item mt-3">

          <!--アンサー番号-->
          <div class="h4">
            <%= i + 1 %>.
          </div>

          <!--アンサー本文-->
          <div>
            <%= safe_join(answer.opinion.split("\n"),tag(:br)) %>
          </div>

          <!--アンサーについているタグ-->
          <div class="my-3">
            <% answer.tags.each do |tag| %>
              <%= link_to admin_answers_path(name: tag.name),
                class: "btn btn-sm btn-outline-info rounded-pill" do %>
                <i class="fa-solid fa-tag"></i><%= tag.name %>
              <% end %>
            <% end %>
          </div>

          <div class="d-flex align-items-end">
            <!--アンサーした日時-->
            <span class="pr-3">
              <%= l(answer.updated_at, format: :long) %>
              <%= time_ago_in_words(answer.updated_at, format: :distance_in_words)%>前
            </span>

            <!--アンサーの削除ボタン-->
            <span class="ml-auto">
              <%= link_to "Destroy", admin_question_answer_path(answer.question, answer), method: :delete, remote: false,
                data: { confirm: "この Answer を削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
            </span>
          </div>

          <!--アンサーのいいね数-->
          <div class="my-3">Favorites : <%= answer.favorites.count %></div>

        </li>
      <% end %>

      <%= paginate @answers, theme: "twitter-bootstrap-4" %>

      <% if @answers.empty? %>
        <div class="h4 text-center">
          該当するアンサーはありませんでした。
        </div>
      <% end %>

    </div>

  </div>
</div>