<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-3">

      <!--ユーザー情報-->
      <%= render "public/users/info", user: current_user %>

      <div class="row-11 justify-content-center mt-3">
        <h2 class="Question text-center">
          New Question
        </h2>
      </div>
      <!--questionの投稿フォーム-->
      <%= render "public/questions/form", question: @question %>

    </div>

    <div class="col-md-8 offset-md-1">

      <h2 class="row border-bottom pb-3">Tags</h2>

      <% @tags.each do |tag| %>
        <div class="btn">
          <%= link_to answers_path(name: tag.name), class: "btn btn-sm btn-outline-info rounded-pill" do %>
            <i class="fa-solid fa-tag"></i><%= tag.name %>
          <% end %>
        </div>
      <% end %>

      <%= paginate @tags, theme: "twitter-bootstrap-4" %>

    </div>

  </div>
</div>

