<div class="container px-5 px-sm-0">
  <div class="row">
    
    <!--エラー文-->
    <%#= render "layouts/errors", obj: @question %>

    <div class="col-md-3">

      <!--ユーザー情報-->
      <%= render "admin/users/info", user: @question.user %>

    </div>

    <div class="col-md-8 offset-md-1">
  		<h2>Question detail</h2>

  		<table class="table">
  		  <tr>
          <td><%= link_to @question.title, admin_question_path(@question) %></td>

          <td id="<%= @question.id %>_answer_count">
            アンサー数: <%= @question.answers.count %>
          </td>

          <td>
            <%= link_to "Destroy", admin_question_path(@question), method: :delete,
            data: { confirm: "”#{@question.title}”を削除しますか？\n ※このクエスチョンについたアンサーも一緒に削除されます。" },
            class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      </table>

      <!--アンサーの一覧-->
      <div class="<%= @question.id %>_answer_index">
        <%= render "admin/answers/index", question: @question %>
      </div>
    </div>

  </div>
</div>