
<div class="container">
  <div class="row justify-content-center">

    <div class="col-6">

      <span class="row">
        <h3 class="col text-center">新規会員登録</h3>
        <h4 class="col text-center">SIGN UP</h4>
      </span>

      <%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= form_with model: User.new, url: user_registration_path, id: 'new_user',
      class: 'new_user', local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
      <div class="row justify-content-center">
        <div class="field form-group">
          <%= f.label :name, "ニックネーム" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name",
          placeholder: "👤ニックネーム", required: true %>
        </div>

        <div class="field form-group">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          placeholder: "✉️メールアドレス", required: true %>
        </div>

        <div class="field form-group">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <p class="d-inline">(<%= @minimum_password_length %> 文字以上)</p>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",
          placeholder: "🔒パスワード", required: true %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
          placeholder: "🔒パスワード", required: true %>
        </div>

        <div class="actions form-group">
          <%= f.submit "新規会員登録" %>
        </div>
      <% end %>
      </div>

    </div>

    <div class="col-6 text-center">
      <span class="row">
        <h3 class="col text-center">ログイン</h3>
        <h4 class="col text-center">SIGN IN</h4>
      </span>
      <%= render "public/shared/links" %>
    </div>

  </div>
</div>