<div class="container">

  <div class="row justify-content-center p-3">

    <div class="col-lg-4 col-md-5 col-sm-6 text-center bg-info rounded-circle mb-3 mx-3">
      <div class="text-center text-white m-4">
        <h5>ゲストログイン</h5>
        <h6>Gest Log in</h6>
        <p>お試しでログイン</p>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-sm-6 text-center mb-4">

      <span class="row">
        <h3 class="col-lg-7 text-center">新規会員登録</h3>
        <h4 class="col-lg-5 text-center">Sign up</h4>
      </span>

      <%= render "public/shared/links" %>

    </div>

    <div class="col-sm-6">

      <div class="row">
        <h3 class="col-md-6 text-center">ログイン</h3>
        <h4 class="col-md-6 text-center">Log in</h4>
      </div>

      <p class="text-center my-2">既にアカウントをお持ちの方</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row justify-content-center flex-column">

          <%= render "layouts/error_messages", resource: resource %>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
            placeholder: "✉️メールアドレス", required: true, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <p class="d-inline">(<%= @minimum_password_length %> 文字以上)</p>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",
            placeholder: "🔒パスワード", required: true, class: "form-control" %>
          </div>

          <div class="actions form-group">
            <%= f.submit "ログイン", class: "btn btn-success btn-block" %>
          </div>

        </div>
      <% end %>

    </div>

  </div>

</div>